ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy{
	overflow-y: scroll;
    	height: 90vh;
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar {
	background-color: rgb(30, 30, 30);
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
}

div#dismissable:hover {
	background-color: rgb(68, 68, 68);
}

div#dismissable {
	border: 0.8px solid rgb(0, 0, 255, 0.7);
	border-radius : 5px;
        padding: 15px;
}

div#dismissable img {
	border-radius : 5px;
}

div#dismissable:hover {
	transform: scale(1.04);
	transition: 0.5s;
}
