ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy{
	overflow-y: scroll;
    	height: 90vh;
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar {
	background-color: rgb(255, 255, 255);
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar-thumb {
	background-color: rgb(203, 203, 203);
}

div#dismissable:hover {
	background-color: rgb(203, 203, 203);
}
