ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy{
	overflow-y: scroll;
    	height: 90vh;
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar {
	background-color: rgb(24, 24, 24);
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
}
