ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy{
	overflow-y: scroll;
    	height: 90vh;
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar {
	background-color: rgb(24, 24, 24);
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
}




/*
const link=document.createElement('link'); link.rel="stylesheet"; link.href="https://mehedihasannabil.github.io/youtube/youtube.css"; document.getElementsByTagName('head')[0].appendChild(link);
*/
